# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info

# Python
__pycache__/
*.pyc

# Environment
.env
*.env